client/index.html
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Weather app</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<app ng-app="app" class="app-root">
			<header-component></header-component>
			<div class="content-wrapper">
				<div ui-view class="content">Loading...</div>
			</div>
		</app>
	</body>
</html>

server/views/index.pug
doctype html
html
	head
		title= title
		base(href="/")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='./styles.css', rel='stylesheet')
	body
		app(ng-app='app' class='app-root')
			header-component
			div(class='content-wrapper')
				div(class="content" ui-view) Loading...
		script(src="./js/vendor.bundle.js")
		script(src="./js/app.bundle.js")
		script(src="./js/styles.bundle.js")
		script(type="text/javascript").
			window.ApiUri = '#{apiURL}';
